NEXT_PUBLIC_API_URL="http://localhost:3001/api/v1"
NEXT_PUBLIC_SOCKET_URL="http://localhost:3001"
NEXT_PUBLIC_SENTRY_DSN=""
NEXT_PUBLIC_MEILISEARCH_URL="http://localhost:7700"
NEXT_PUBLIC_MEILISEARCH_SEARCH_KEY="searchOnlyKey"
NEXT_PUBLIC_IYZICO_URL="https://sandbox-static.iyzipay.com"
